body {
    margin: 0px;
}

h1 {
    font-size: 40px;
}

section h3 {
    color: rgb(49, 158, 231);
}

header {
    background-image: url(../../2/assets/img/co1sTND6kmA43OYKFppf1.webp);
    background-size: cover;
    text-align: center;
    padding: 25px;
}

header img {
    border-radius: 50%;
    width: 140px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    border-radius: 20%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    color: white;

}

nav ul li a {
    text-decoration: none;
    background-color: rgb(133, 185, 228);
    color: rgb(253, 239, 239);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 15%;
    display: flex;
}

nav ul li a:hover {
    background-color: rgb(58, 143, 212);
    cursor: pointer;
}


ul>li {

    list-style-type: none;
}

#skills ul>li:before {
    content: "►";
    padding-right: 0.5em;
    color: #34aaee;
}

nav li:hover {
    cursor: pointer;
}

nav li.active:hover {
    cursor: pointer;
}

section {
    padding-left: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    border-bottom: 1px solid rgb(87, 190, 238);
}

#skills article>div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "";

}


footer {
    grid-area: auto;
    background-color: rgb(119, 194, 255);
    text-align: right;
    min-height: 0px;
    padding: 15px;
}

.idiomas ul>li:before {
    content: "*";
    padding-right: 0.5em;
    color: #34aaee;
}

#formacion article p{
    padding: 20px;
}