body {
    margin: 0px;
    text-align: center;
    
}

h1 {
    font-size: 40px;
}

section h2 {
    color: rgb(49, 158, 231);
}

header {
    background-image: url(../../2/assets/img/co1sTND6kmA43OYKFppf1.webp);
    background-size: cover;
    text-align: center;
    padding: 25px;
}

header img {
    border-radius: 50%;
    width: 140px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    border-radius: 20%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    color: white;

}

nav ul li a {
    text-decoration: none;
    background-color: rgb(133, 185, 228);
    color: rgb(253, 239, 239);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 15%;
    display: flex;
    
}


section {
    padding-left: 30px;
    margin: 60px;
}

footer {
    grid-area: auto;
    background-color: rgb(119, 194, 255);
    text-align: right;
    min-height: 0px;
    padding: 15px;
    margin-top: 100vh ;
}

#contacto article p{
    padding: 20px;
}

article a{
    color: black;
}