body {
    margin: 0px;
}

header {
    background-image: url(../../2/assets/img/co1sTND6kmA43OYKFppf1.webp);
    background-size: cover;
    text-align: center;
    padding: 25px;
}

header img {
    border-radius: 50%;
    width: 140px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    border-radius: 20%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    border-bottom:2px solid ; color: white;

}

nav ul li a {
    text-decoration: none;
    background-color: rgb(133, 185, 228);
    color: rgb(253, 239, 239);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 15%;
    display: flex;
    
}














nav li:hover{
    cursor: pointer;
}

nav li.active:hover{
    cursor: pointer;
}

nav a{
    color: white;
    text-decoration: none;
}

#skills article > div{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "";
}

